.app(style="display: none;")
  section
    h1 About Me

    p I'm Chris Ross Harris, a Designer & Photographer based in Louisville, Kentucky specializing in branding and visual design systems using technologies like Figma, Adobe, HTML, CSS, and JavaScript.. I'm currently working at Leap Group Network💚.

    p brands such as #[a(href="http://www.worklabs.com" rel="noreferrer noopener") WORK Labs.] #[a(href="http://www.whitestoneoysters.com" rel="noreferrer noopener") White Stone Oyster Co.] and #[a(href="http://www.lcking.com" rel="noreferrer noopener") L.C. King Mfg. Co.].
