.app(style="display: none;")
  section
    h1 About

    p Chris Ross Harris is a highly talented photographer with an exceptional sense of capturing the beauty of nature and landscape. He has a unique style that sets him apart from other photographers.
    p His photographs are not only visually stunning but also emotionally impactful. His portrait photography also captures the essence of the subject which makes his work stand out.
