@font-face {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
