meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title Chris Ross Harris — Gallery

meta(name="description" content="Chris Ross Harris is a Photographer based in Louisville, Kentucky with focus on Landscape, Portrait, and Lifestyle Photography.")

link(rel="apple-touch-icon" sizes="180x180" href="https://gallery.chrisrossharris.com/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="https://gallery.chrisrossharris.com/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="https://gallery.chrisrossharris.com/favicon-16x16.png")
link(rel="manifest" href="https://gallery.chrisrossharris.com/site.webmanifest")
meta(name="msapplication-TileColor" content="#000000")
meta(name="theme-color" content="#ffffff")

meta(property="og:url" content="https://gallery.chrisrossharris.com")
meta(property="og:title" content="Chris Ross Harris — Gallery")
meta(property="og:image" content="https://gallery.chrisrossharris.com/share.jpg")
meta(property="og:description" content="Chris Ross Harris is a Photographer based in Louisville, Kentucky with focus on Landscape, Portrait, and Lifestyle Photography.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@chrisrossharris")
meta(name="twitter:title" content="Chris Ross Harris — Gallery")
meta(name="twitter:description" content="Chris Ross Harris is a Photographer based in Louisville, Kentucky with focus on Landscape, Portrait, and Lifestyle Photography.")
meta(name="twitter:image:src" content="https://gallery.chrisrossharris.com/share.jpg")

link(rel="stylesheet" href="https://use.typekit.net/laq6iro.css")
